services:
  cockroachdb:
    image: cockroachdb/cockroach:v22.2.8
    container_name: illuvium-cockroachdb
    ports:
      - '26257:26257' # SQL Port
      - '8080:8080' # Admin UI Port
    command: start-single-node --insecure
    volumes:
      - cockroach-data:/cockroach/cockroach-data
    environment:
      - COCKROACH_DATABASE=illuvium
      - COCKROACH_USER=root
      - COCKROACH_PASSWORD=
    networks:
      - illuvium-network

  # Redis for caching (optional, but useful for the future)
  redis:
    image: redis:7-alpine
    container_name: illuvium-redis
    ports:
      - '6379:6379' # Mapping local port 6380 to 6379 in the container
    volumes:
      - redis-data:/data
    networks:
      - illuvium-network

  postgres:
    image: postgres:15-alpine
    container_name: illuvium-postgres
    environment:
      POSTGRES_DB: illuvium
      POSTGRES_USER: backend_node
      POSTGRES_PASSWORD: local_password
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U backend_node -d illuvium']
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - illuvium-network

networks:
  illuvium-network:
    driver: bridge

volumes:
  cockroach-data:
  redis-data:
