version: '3.8'

services:
  localstack:
    image: localstack/localstack:3.0.2
    container_name: localstack
    ports:
      - '4566:4566'
    environment:
      - SERVICES=events,secretsmanager,sqs,kms
      - DEBUG=0
      - DEFAULT_REGION=us-west-2
      - DATA_DIR=/tmp/localstack/data
    volumes:
      - './scripts/localstack:/docker-entrypoint-initaws.d'
    networks:
      - backend-network

  cockroachdb:
    image: cockroachdb/cockroach:v22.2.8
    container_name: backend-cockroachdb
    ports:
      - '26257:26257'
      - '8080:8080'
    command: start-single-node --insecure --store=type=mem,size=2G
    environment:
      - COCKROACH_DATABASE=illuvium
      - COCKROACH_USER=backend_node
    volumes:
      - cockroach_data:/cockroach/cockroach-data
    networks:
      - backend-network

  redis:
    image: redis:7-alpine
    container_name: backend-redis
    ports:
      - '63798:6379'
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    networks:
      - backend-network

  localstack-init:
    image: amazon/aws-cli:latest
    container_name: localstack-init
    depends_on:
      localstack:
        condition: service_healthy
    environment:
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - AWS_DEFAULT_REGION=us-west-2
    volumes:
      - ./scripts/localstack:/scripts
    networks:
      - backend-network
    entrypoint: ['/bin/sh']
    command: ['/scripts/wait-and-init.sh']

  cockroachdb-init:
    image: cockroachdb/cockroach:v22.2.8
    container_name: cockroachdb-init
    depends_on:
      - cockroachdb
    volumes:
      - ./scripts/cockroachdb:/scripts
    networks:
      - backend-network
    entrypoint: ['/bin/sh']
    command: ['/scripts/init-db.sh']

  backend-node:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: backend-node
    ports:
      - '4000:4000'
    environment:
      - NODE_ENV=development
      - PORT=4000
      - AWS_ENDPOINT_URL=http://localstack:4566
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - AWS_REGION=us-west-2
    env_file:
      - .env
    depends_on:
      - localstack
      - cockroachdb
      - redis
      - localstack-init
      - cockroachdb-init
    volumes:
      - ./src:/app/src
      # - ./node_modules:/app/node_modules
    networks:
      - backend-network
    command: npm run start:dev

volumes:
  cockroach_data:
  redis_data:
  localstack_data:

networks:
  backend-network:
    driver: bridge
